.activities {
  margin: 0px 10px;
}

.activities .calendar {
  padding-left: 10px;
}

.activities .btn {
  margin-bottom: 10px;
  width: 100%;
}

.activities .loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(218, 218, 218);
  padding: 10px;
  margin-bottom: 10px;
}

.activity .title {
  display: flex;
  justify-content: space-between;
}

.activity .title div {
  display: inline-block;
}

.activity h4 span {
  font-weight: 500;
}

.activity .content {
  max-height: 400px;
  overflow: auto;
}

.activity .action {
  display: flex;
  justify-content: space-between;
}

.activity .action .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.activity .action .flex:hover {
  background-color: #dcdcdc;
}

.activity .action .flex p {
  margin-left: 5px;
}

.activity p {
  margin: 5px 0px;
}

.activity .link {
  font-weight: 600;
  color: #2c84c6;
  cursor: pointer;
  display: inline-block;
}

.activity h5 {
  font-weight: 500;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .activities .calendar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .activities {
    margin: 0px;
  }

  .activities .btn {
    margin-top: 5px;
    padding: 0px 5px;
  }

  .activities .calendar {
    display: none;
  }

  .activity {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(218, 218, 218);
    padding: 5px;
    margin: 10px 0px;
  }

  .activity .content {
    max-height: 300px;
  }

  .activity p,
  h4,
  h4 span {
    font-size: 14px;
  }

  .activity h5 {
    font-size: 13px;
  }

  .activity .action-container {
    display: block;
  }

  .activity .action p span {
    display: none;
  }

  .activity .action .flex {
    display: flex;
  }
}
