.filter-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter-title p {
  display: inline-block;
  width: 50%;
}

.filter-title .sort {
  width: 50%;
}

.filter-form .input {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .filter-form {
    gap: 5px;
  }

  .filter-form .input {
    font-size: 14px;
    margin: 0px;
  }

  .filter-title {
    font-size: 16px;
  }

  .filter-title div {
    font-size: 14px;
    width: 100%;
  }
}
